<% include partials/header %>

<div class="container" id="maindiv">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to CodeCamp!</h1>
            <p>Feel free to join any of the Code Camp</p>
            <p>
                <a href="#" class="btn btn-primary btn-lg">View all Code Camps</a>
            </p>
        </div>
    </header>    
</div>
<div id="load"></div>

<% include partials/footer %>